.nav-item{
  box-shadow: inset 0 -2px 0 -1px #FFF;
  transition: box-shadow .2s ease-in-out;
  position: relative;
  padding: 4px 8px;
}

.nav-item:hover {
  box-shadow: inset 0 -30px 0 -1px #D7E2E9;
}

.nav-item:active {
  box-shadow: inset 0 -15px 0 -1px #D7E2E9;
}
